<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title2</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="app">

    <p>{{text? "vue.js" : "react.js"}}</p>
    <input type="text" v-model="user.name"/>
    <h2>{{user.name}}</h2>
   <a :href="link">go to google</a>
    <p :style="{color:color}">sajjad</p>
    <h1 :style="pain">mona ronaldo</h1>
    <h5 :class="[text? 'one' : 'two']" @mouseover="text=false" @mouseleave="text=true">amir azimi</h5>
    <p :id="idName">hello sajjad</p>
    <p :style="{color:color1}">first sajjad</p>
    <input type="text" @keydown.alt="change">
    <p>{{paragraph}}</p>
    <P>
        counter:{{counter}}
    </P>
    <button type="button" @click="plus(4)">click</button>
   <p v-if="name==='one'">hello</p>
    <p v-else-if="name==='two'">hello two</p>
    <p v-else>hello 3</p>
<!--    <ul><li v-for="(value,index) of lesson" :key="value">{{index}}-{{value}}</li></ul>-->
    <template v-for="value of upper" :key="value"><li>{{value}}</li></template>
    <ul><li v-for="(item,key,index) in upper" :key="item">{{index}}-{{key}}:{{item}}</li></ul>
    <p v-html="htmlTags"></p>
    <p>{{note}}</p>
    <form @submit.prevent="send">
        <input type="text" v-model="fullName">
        <button type="submit">send</button>
        <p>names is : {{fullName}}</p>
    </form>
    <input type="text" v-model="paragraph">
    <p>{{paragraph}}</p>
    <input type="text" v-model="sentence">
    <p v-if="isTyping">type send sajjad</p>
    <first-box>
<span>counter: {{count}}</span>
        <template v-slot="hollo">
            plus lesson
        </template>
    </first-box>


</div>



<script src="https://unpkg.com/vue@3"></script>
<script src="js/vue.global.js"></script>
<script src="app.js"></script>

</body>
</html>